@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #771e76;
    justify-content: center;
    align-items: center;

    & .telacadastro {
        width: 90%;
        height: 90%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .tituloelogo {
            display: flex;
            flex-direction: column;
            align-items: center;

            & a {
                & img {
                    width: 200px;
                    height: 150px;
                }
            }
        }

        & .inputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 1vw;

            & input {
                border-radius: 10px;
                padding: 5px;
                outline: none;
                width: 70%;
                border: solid 1px black;
                height: 40px;
            }
            & #cnpj::-webkit-outer-spin-button,
            #cnpj::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            & .olhoSenha {
                cursor: pointer;
                position: absolute;
                top: 65.5vh;
                left: 79vw;

                & img {
                    width: 24px;
                }
            }

            & .olhoSenha2 {
                cursor: pointer;
                position: absolute;
                top: 71vh;
                left: 79vw;

                & img {
                    width: 24px;
                }
            }
            & .endereço {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                & #cep {
                    width: 20%;
                }

                & #cep::-webkit-outer-spin-button,
                #cep::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                & #estado {
                    width: 5%;
                }

                & #cidade {
                    width: 40%;
                }

                & #bairro {
                    width: 32.3%;
                }

                & #logradouro {
                    width: 85%;
                }

                & #logradouroNumero {
                    width: 14%;
                }

                & #logradouroNumero::-webkit-outer-spin-button,
                #logradouroNumero::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            & button {
                width: 70%;
                border-radius: 10px;
                border: solid 1px black;
                color: white;
                background-color: #771e76d2;
                height: 40px;
            }

            & button:hover {
                transition: 0.2s;
                background-color: #771e76b6;
                cursor: pointer;
            }
        }

        & .links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;

            & a {
                color: black;
                text-decoration: none;
            }

            & a:hover {
                transition: 0.2s;
                color: #001aff;
            }
        }
    }
}