main {
    background-color: rgb(245, 245, 245);
    border: solid 1px green;
    margin-top: 16vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .searchPosts {
        border: solid 1px yellow;
        display: flex;
        justify-content: center;

        & #pesquisarInput {
            width: 30vw;
            height: 3vh;
            border: solid 1px black;
            border-radius: 10px;
        }

        & #pesquisarBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 20px;
                background-color: inherit;
            }
        }
    }

    & .painelPosts {
        border: solid 1px red;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .adicionarPost {
            margin-top: 3vh;
            border: solid 1px blue;
            width: 80%;
            height: 20vh;
            display: flex;
            flex-wrap: wrap;

            & .imgPost {
                height: 75%;
                border: solid 1px green;
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & h3{
                    font-size: 15px;
                }

                & a {
                    border: solid 1px black;
                    border-radius: 100px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        width: 40px;
                    }
                }
            }

            & .inputPost {
                height: 75%;
                border: solid 1px green;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                & #tituloPost{
                    border: solid 1px black;
                    border-radius: 20px;
                    width: 80%;
                    height: 4vh;
                    margin: 1vh;
                    padding: 10px;
                    font-size: 16px;
                }
                & #conteudoPost{
                    border: solid 1px black;
                    border-radius: 20px;
                    width: 80%;
                    height: 10vh;
                    padding: 10px;
                    font-size: 16px;
                }
                & #conteudoPost::-webkit-scrollbar{
                    width: 0;
                    
                }
            }
            & .btnInterface{
                border: solid 1px fuchsia;
                width: 100%;
                height: 25%;
                display: flex;
                justify-content: end;
                align-items: center;
                & #postar{
                    margin-right: 7vw;
                    width: 5vw;
                    height: 4vh;
                    border: solid 1px black;
                    border-radius: 50px;
                    cursor: pointer;
                    background-color:#771e76;
                    color: #ffffff;
                }
            }   
            & #postar:hover{
                transition: 0.2s;
                background-color: #771e76da;

            }
        }

        & .posts {
            margin-top: 3vh;
            width: 80%;
            height: 20vh;
            display: flex;

            & .post1 {
                height: 75%;
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                & a {
                    border: solid 1px black;
                    border-radius: 100px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        width: 40px;
                    }
                }
            }
        }
    }
}
